.container{
    margin-top: 72px;
}

.content{
    display: flex;
    flex-direction: row;
}

.video{
    background: rgb(229,252,222);
    background: linear-gradient(329deg, rgba(229,252,222,1) 0%, rgba(119,201,237,1) 100%);
    padding: 20px 24px;
    border-radius: 16px;
    margin-left: 180px;
    width: 600px;
}

.video video{
    border-radius: 16px;
}

.sectionContent{
    width: 400px;
    margin-left: 120px;
    margin-top: 60px;
}

.sectionContent .contentTitle{
    font-size: 24px;
    font-weight: 600;
    color: #3d3d4e;
    padding-bottom: 20px;
}

.sectionContent .contentBody{
    padding-bottom: 20px;
    line-height: 1.9;
}

.contentSectionButton{
    padding: 14px 28px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 16px;
    cursor: pointer;
    width: 200px;
}

.contentSectionButton:hover{
    background-color: #0d0434;
}

.contentTwo{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 80px;
}

.videoTwo{
    background: rgb(252,208,186);
    background: linear-gradient(329deg, rgba(252,208,186,1) 0%, rgba(246,216,251,1) 100%);
    padding: 20px 24px;
    border-radius: 16px;
    margin-left: 180px;
}

.videoTwo video{
    border-radius: 16px;
}